.reloj {
  width: 150px;
  heidth: 30px;
  padding: 5px 10px;
  border: 1px solid black;
  font: bold 1.5em dotum, "lucida sans", arial;
  text-align: center;
  float: rigth;
  margin: 1 em 3em 1em 1em;
}
